<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title itemDetailTitle" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Complete by: </strong><br><span class="itemDetailDate"></span></p>
            </div>
            <div class="modal-body">
                <p><strong>Details: </strong><br></p>
                <p class="itemDetailDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary editBtn">Edit</button>
                <button type="button" class="btn btn-primary saveBtn">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row mb-5 mt-3">
        <div class="col-md-5 mx-auto">
            <h1 class="text-center mb-3">My Task Planner</h1>
            <form>
                <div class="form-group user-input-wrp">
                    <br />
                    <input type="text" class="inputText" id="itemInput" required />
                    <span class="floating-label font-weight-bold spanText">Enter a Task</span>
                    <div class="row">
                        <div class="col-md-12 inputItemValidation"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dateTimeInput" class="col-md-3 col-form-label font-weight-bold">Complete by:</label>
                    <div class="col-5">
                        <input class="form-control inputDate" type="date" value="" id="dateTimeInput">
                        <div class="row">
                            <div class="col-md-12 inputDateValidation"></div>
                        </div>
                    </div>


                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="moreDetailsText">More Details</label>
                    <textarea class="form-control inputDetails" id="moreDetailsText" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-warning text-white submitBtn">Add Item</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h2 class="text-center">Tasks to Complete:</h2>
            <table class="table table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" style="width: 10%" scope="col-1">#</th>
                        <th style="width: 60%" scope="col">Description</th>
                        <th style="width: 40%" scope="col">Complete By </th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each item}}
                    {{#unless this.completed}}
                    <tr>
                        <td class="text-center" scope="row"></td>
                        <td>{{this.item}}</td>
                        <td>{{moment date=this.to_be_completed_by add="days" amount="1" format="MMMM, Do
                            YYYY"}}</td>
                        </td>
                        <td class="text-center"><button class="infoBtn" type="button" data-toggle="modal"
                                data-target="#exampleModal" value="{{this.id}}">
                                <i class="fas fa-info-circle text-primary" title="View Item's Details"></i>
                            </button>
                        </td>
                        <td class="text-center"><i class="fas fa-check-square text-success checkBtn" value="{{this.id}}"
                                title="Check Item Done"></i></td>
                        <td class="text-center"><i class="fas fa-trash-alt text-danger delBtn" value="{{this.id}}"
                                title="Remove Item"></i></td>

                    </tr>
                    {{/unless}}
                    {{/each}}
                </tbody>
            </table>

        </div>
        <div class="col-lg-5 mx-auto">
            <h2 class="text-center">Completed Tasks</h2>
            <table class="table table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" style="width: 10%" scope="col">#</th>
                        <th style="width: 60%" scope="col">Description</th>
                        <th style="width: 30%" scope="col">Completed On</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each item}}
                    {{#if this.completed}}
                    <tr>
                        <td class="text-center" scope="row"></td>
                        <td class="text-success"><del>{{this.item}}</del></td>
                        <td class="text-success">{{moment this.updatedAt "MMMM, Do YYYY"}}</td>
                        <td class="text-center"><i class="fas fa-trash-alt text-danger delBtn" value="{{this.id}}"
                                title="Remove Item"></i></td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>

</div>